<h1>Editing World</h1>

<%= render 'form', world: @world %>

<%= form_tag(world_path(@world), method: "destroy") do %>
    
    <input type="submit" value="Destroy" class="button is-danger">

<% end %>

<%= link_to 'Show', @world %> 
<%= link_to 'Back', worlds_path %>
