<h1> Worlds </h1>

<div>
    <strong><%= link_to "Create a New world", new_world_path %></strong>
    </div>
    <br>
   

<h3>Would you like to visit the Worlds' List?</h3>

<ul>
<div>
<%= render partial: "worlds/list", locals: {worlds: @worlds} %>
</div>
</ul>

<br>

 <div>
    <h3>Want the most populated world?</h3>
    <%= link_to "Click here", worlds_most_characters_path %> to view the world with the most characters
    </div>

<p class="lead">
    <a class="btn btn-secondary btn-sm" href="worlds/new" role="button">Create New world</a>
</p>