<h1> Worlds </h1>

<h3> Hello <%=current_user.name.capitalize %>! Here are your worlds</h3>

<ul>
    <% current_user.worlds.each do |world| %>
        <li><%= link_to world.name, world_path(world) %></li>
    <% end %>
</ul>


<p class="lead">
    <a class="btn btn-secondary btn-sm" href="worlds/new" role="button">Create New world</a>
</p>