<h1> Worlds </h1>

<div>
    <strong><%= link_to "Create a New world", new_world_path %></strong>
    </div>
    <br>
   


<ul>
<div>
<%= render partial: "worlds/list", locals: {worlds: @worlds} %>
</div>
</ul>

<br>

 <div>
    <h3>Want the most populated world?</h3>
    <%= link_to "Click here", worlds_most_characters_path %> to view the world with the most characters
    </div>


    