<strong>world:</strong> <%= link_to @world.name, world_path(@world) %> <br>
  
<p>
  <strong>title:</strong>
  <%= @plot.title  %>
</p>

<p>
  <strong>plot importance:</strong>
  <%= @plot.importance %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @plot.description %>
</p>

 